<div>
    <h2>Detalhes do Cliente: {{ clientName }}</h2>

    <div *ngFor="let folder of folders">
        <h3>Pasta: {{ folder.folder_name }}</h3>
        <ul>
            <li *ngFor="let file of filesByFolder[folder.id]">
                {{ file.file_name }}
            </li>
        </ul>
    </div>

    <hr>
    <h3>Upload de Arquivos</h3>
    <input type="file" (change)="onFileSelected($event)" multiple><br>
    <button class="btn btn-primary btn-client-detail" (click)="uploadFiles()">Enviar Arquivos</button>
</div>