<div>
    <h2>Detalhes do Cliente: {{ client?.name }}</h2>

    <!-- Seção para subir arquivos em pastas específicas -->
    <div>
        <h3>Subir arquivos para uma ou mais pastas específicas</h3>
        <input type="radio" [(ngModel)]="mode" value="single" (change)="toggleModes()"> Escolher Pastas
        <ul>
            <div *ngFor="let folder of folders">
                <input type="checkbox" [value]="folder.id" (change)="onFolderSelectionChange($event)"
                    [disabled]="mode !== 'single'">
                {{ folder.folder_name }}
            </div>
        </ul>
        <h3>Upload de Arquivos</h3>
        <input type="file" (change)="onFileSelected($event)" multiple [disabled]="mode !== 'single'"><br>
        <button class="btn btn-primary btn-client-detail" (click)="uploadFiles()" [disabled]="mode !== 'single'">Enviar
            Arquivos</button>
    </div>

    <!-- Seção para subir arquivos em novas pastas baseadas em formatos -->
    <div>
        <h3>Subir novas pastas</h3>
        <input type="radio" [(ngModel)]="mode" value="multiple" (change)="toggleModes()"> Escolher Formatos

        <ul>
            <li *ngFor="let format of availableFormats" class="list-style-none">
                <input type="checkbox" [value]="format.format_name" (change)="onFormatSelectionChange($event)"
                    [disabled]="mode !== 'multiple'">
                {{ format.format_name }}
            </li>
        </ul>

        <button class="btn btn-secondary btn-client-detail" (click)="createFolders()"
            [disabled]="mode !== 'multiple'">Subir Pastas</button>
    </div>
</div>